<div class="row">
  <div class="col-sm-6">
    <h1>Customers</h1>
  </div>
  <div class="col-sm-6 text-right">
    <%= link_to new_customer_path, class: 'btn btn-primary' do %>
      Create New Customer
    <% end %>
  </div>
</div>

<div>
  <% @customers.each do |customer| %>
    <div class="card card-body mb-4">
      <%= link_to customer.name, edit_customer_path(customer) %>
    </div>
  <% end %>
</div>
